@model List<Fiap.Apostila07.MVC.Web.Models.ItemPedido>
@{
    ViewBag.Title = "Listar";
}

<h2>Itens</h2>

@using (Html.BeginForm("Buscar","ItemPedido", 
                    FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.DropDownList("codigo",
        ViewBag.opcoes as SelectList,
        new { @class = "form-control" })
    <input type="submit" value="Buscar" class="btn btn-primary" />
}
<hr />
<table class="table table-striped">
    <tr>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Cliente</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Descricao</td>
            <td>@item.Quantidade</td>
            <td>@item.Valor</td>
            <td>@item.Pedido.Cliente</td>
        </tr>
    }
</table>

