@model Fiap.Apostila08.MVC.Web.Models.Treinador
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Treinador</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(t => t.Nome)
        @Html.TextBoxFor(t => t.Nome, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Level)
        @Html.TextBoxFor(t => t.Level, new { @class = "form-control"})
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}

